:root {
--text: rgb(107, 202, 197);

}
body {


}


header {
display: flex;
width: 100%;
background-color: slategrey;
}

#profile_title{
    flex: 45%;
}

#profile_nav{
    flex: 55%;
}

nav {
display: flex;
justify-content: flex-end;

padding: 30px;

}

nav a {
display: flex;
padding-bottom: 3px;
border-bottom: 3.5px solid var(--text);
text-decoration: none;

font-size:125%;

color: var(--text) 
}
span {
margin: 0px 5px;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 202, 197);
    width: 20%;
    padding: 15px;
    margin: 20px,0px;
    font-size: 250%;
}

main {
    display: flex;
    flex: 75%;
    
    background-image: url("./Images/ranger-4df6c1b6.png");
    background-size: cover;
    height: 30vh;

}

#subtitle {
    background-color: var(--text);
    position: absolute;
    top:35vh;
    right: 5vw;
    font-size: 200%;

}

#work {
display: flex;  
flex-wrap: wrap;
flex-direction: row; 
width: 100%; 
}


#main_about_me {
    display: flex;
    width: 100%;
    margin-top: 25px;

}

#about_me_title {
    font-size: 300%;
    flex:0 0 20%;
   
    text-align: end;
    color: var(--text);
    padding-right: 5vw;
    border-right: 5px solid var(--text);
    background-color: white;
    
}

#about_me_text {
    flex: 80%;
    flex-wrap: wrap;
    font-size: 150%
   ;
}
#work_title {
    font-size: 300%;
    margin-left: 14.2vw;
    
    text-align: end;
    color: var(--text);
    
    padding-right: 4.95vw;
    border-right: 5px solid var(--text);
    
    
}
#project_pic {
    
    width: 70vw;
    height: 60vh;
}


#coming_soon1 {
    border: solid 5px salmon;
    width: 18.5vw;
    
    height: 50vh;
}
#coming_soon2 {
    border: solid 5px salmon;
    width: 18.5vw;
    
    height: 50vh;
}
#coming_soon3 {
    border: solid 5px salmon;
    width: 18.5vw;
    
    height: 50vh;
}



#contact_me_main {
    display: flex;
    width: 100%;
}

#contact_me_title {
    font-size: 300%;
    flex:0 0 20%;
    text-align: end;
    color: var(--text);
    padding-right: 5vw;
    border-right: 5px solid var(--text);
    background-color: white;
    
}

#contact_me_link {
    flex: 80%;
    font-size:150%;
    color: var(--text);
    margin-top: 5vh;
}

h2 a {
color: orangered;
background-color: var(--text);
}

span a {
    color: var(--text);
}

section h2 {
margin-top: -50px;
}

.mini_projects {
    margin: 50px;   
}

#mini_section {
display: flex;
border-left: 5px solid var(--text);
margin-left: 24.65vw;

}

.mini_projects h2 {
text-align: center;
color: var(--text);
}

