:root {
--text: rgb(107, 202, 197);

}
body {


}


header {
display: flex;
width: 100%;
background-color: slategrey;
}

#profile_title{
    flex: 45%;
}

#profile_nav{
    flex: 55%;
}

nav {
display: flex;
justify-content: flex-end;

padding: 30px;

}

nav a {
display: flex;
padding-bottom: 3px;
border-bottom: 3.5px solid var(--text);
text-decoration: none;

font-size:125%;

color: var(--text) 
}
span {
margin: 0px 5px;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 202, 197);
    width: 20%;
    padding: 15px;
    margin: 20px,0px;
    font-size: 250%;
}

main {
    display: flex;
    flex: 75%;
    
    background-image: url("./Images/ranger-4df6c1b6.png");
    background-size: cover;
    height: 30vh;

}

#subtitle {
    background-color: var(--text);
    position: absolute;
    top:35vh;
    right: 5vw;
    font-size: 200%;

}

#work {
display: flex;   
width: 100%; 
}


#main_about_me {
    display: flex;
    width: 100%;
    margin-top: 25px;

}

#about_me_title {
    font-size: 300%;
    flex:20%;
   
    text-align: end;
    color: var(--text);
    padding-right: 5vw;
    border-right: 5px solid var(--text);
    background-color: white;
    
}

#about_me_text {
    flex: 80%;
    flex-wrap: wrap;
   ;
}
#work_title {
    font-size: 300%;
    flex:20%;
    
    text-align: end;
    color: var(--text);
    
    padding-right: 5vw;
    border-right: 5px solid var(--text);
    background-color: white;
    
}
#work_pic_1 {
    flex: 26.66%;
    background-color: grey;
    background-size: cover;
    height: 30vh;
}
#work_pic_2 {
    flex: 26.66%;
    background-color: blue;
    background-size: cover;
    height: 30vh;
}
#work_pic_3 {
    flex: 26.66%;
    background-color: brown;
    background-size: cover;
    height: 30vh;
}



#contact_me_main {
    display: flex;
    width: 100%;
}

#contact_me_title {
    font-size: 300%;
    flex:20%;
    text-align: end;
    color: var(--text);
    padding-right: 5vw;
    border-right: 5px solid var(--text);
    background-color: white;
    
}

#contact_me_link {
    flex: 80%;
    font-size:125%;
    color: var(--text) 
}
